---
import Section from './Section.astro';

---

<Section>
	<br />
	<p class="pb-2 pt-6 text-4xl font-bold">Hi, I'm Querty</p>
	<div class="text-sm">
		<p class="py-2">
			Ex-pentester turned blockchain enthusiast.
		<br />
		I have a soft spot for Rust and distributed systems.
		</p>
		<p class="py-2">
			I'm currently building <a href="https://reachaltitude.xyz" target="_blank" class="font-black text-blue-400">Altitude</a>, a HyperEVM RPC provider and DeFi trading platform. We're developing tailored, high-performance blockchain infrastructure to empower developers and innovative projects in the decentralized space.
		</p>
	</div>
</Section>
