---
import Section from './Section.astro';

---

<Section>
	<br />
	<p class="pb-2 pt-6 text-4xl font-bold">Hi, I'm Querty</p>
	<div class="text-sm">
		<p class="py-2">
			Ex-pentester turned blockchain enthusiast, with a Master's in Cybersecurity that I use to make sure my crypto stays, well, mine. I've swapped hunting for vulnerabilities for building the future of finance - or at least trying to.
		<br />
			These days, I'm deep in the Rust rabbit hole, attempting to tame Ethereum's wild west. My keyboard's seen better days, but hey, that's the price of progress, right?
		</p>
		<p class="py-2">
			I'm currently building <a href="https://valtitude.xyz" target="_blank" class="font-black text-blue-400">Altitude</a>, a fancy RPC provider and validation service. It's like a custom-tailored suit for your blockchain needs, minus the Italian accent.
		</p>
		<p class="py-2">
			When I'm not wrestling with distributed systems, I'm out exploring the world. Turns out, debugging cultures is just as challenging as debugging code - but way more fun.
			<br />
			In essence, I'm just a tech nerd with a passport, equally thrilled by a well-executed smart contract and a well-stamped visa page. Always up for a challenge, whether it's optimizing gas fees or mastering chopsticks.
		</p>
	</div>
</Section>
