---
import Section from './Section.astro';

---

<Section>
	<br />
	<p class="pb-2 pt-6 text-4xl font-bold">Hi, I'm Querty</p>
	<div class="text-sm">
		<p class="py-2">
			I'm a code craftsman with a passion for unraveling complex problems and an insatiable curiosity for learning. Armed with a Master's in Cybersecurity and Cloud Computing, I've transitioned from the world of pentesting to the vibrant ecosystem of blockchain technology.
		</p>
		<p class="py-2">
			These days, my fingers dance across the keyboard in Rust, while my mind explores the intricate architecture of Ethereum. I'm diving deep into the realms of distributed systems and systems programming, where each line of code opens up new possibilities.
		</p>
		<p class="py-2">
			My current project is <a href="https://valtitude.xyz" target="_blank" class="font-black text-blue-400">Altitude</a>, a bespoke RPC provider and validation service. It's my way of empowering developers and innovative projects with tailored, high-performance blockchain infrastructure - think of it as crafting digital keys to unlock the full potential of decentralized applications.
		</p>
		<p class="py-2">
			When I'm not immersed in the digital realm, I'm exploring the physical one. Travel is my way of collecting new perspectives and experiences, each journey adding a unique brushstroke to the canvas of my problem-solving approach.
		</p>
		<p class="py-2">
			At heart, I'm a tech adventurer, equally excited by elegant code solutions and undiscovered corners of the world. Always ready for the next challenge, be it debugging a complex system or navigating a new culture.
		</p>
	</div>
</Section>
