---
import Section from './Section.astro';
import { Image } from 'astro:assets';
import quertyLogo from "../../public/querty.svg"
---

<Section>
	<div class="flex justify-between items-center">
		<div class="text-5xl font-bold flex items-center">
			<a href="/" class="flex items-center">
				<Image src={quertyLogo} alt="Querty Logo" class="w-20 h-20 mr-2" />
				<span class="text-blue-400">Querty</span>
			</a>
		</div>
		<div class="flex items-center">
			<nav class="mr-4 text-l">
				<ul class="hidden flex-row sm:flex">
					<li><a href="/projects" class="mr-3 hover:text-blue-400">PROJECTS</a></li>
					<li><a href="/" class="mr-3 hover:text-blue-400">BLOG</a></li>
					<!-- <li><a href="/tags" class="mr-3 hover:text-blue-400">TAGS</a></li> -->
				</ul>
			</nav>
			<div class="flex items-center">
				<a href="https://github.com/Quertyy" class="mr-3" target="_blank" rel="noopener noreferrer">
					<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
						<path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"></path>
					</svg>
				</a>
				<a href="https://x.com/quertyeth" class="mr-3" target="_blank" rel="noopener noreferrer">
					<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
						<path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"></path>
					</svg>
				</a>
				<div class="flex flex-col justify-center">
					<input type="checkbox" id="light-switch" class="light-switch sr-only" />
					<label class="relative cursor-pointer p-2" for="light-switch">
					  <svg class="dark:hidden h-6 w-6" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
						<path
						  class="fill-stone-800"
						  d="M10.5 0h3v3h-3zM19.32 2.455l2.121 2.122-2.121 2.121-2.122-2.121zM21 10.5h3v3h-3zM19.395 21.649l-2.121-2.121 2.12-2.121 2.122 2.12zM10.5 21h3v3h-3zM4.47 21.54l-2.12-2.12 2.12-2.122 2.122 2.121zM0 10.5h3v3H0zM4.575 2.559 6.697 4.68 4.575 6.803 2.453 4.68z"
						></path>
						<path class="fill-gray-900" d="M12 6c-3.3 0-6 2.7-6 6s2.7 6 6 6 6-2.7 6-6-2.7-6-6-6Z"
						></path>
					  </svg>
					  <svg class="hidden dark:block h-6 w-6" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
						<path
						  class="fill-slate-400"
						  d="M9.3 1.5C4.8 2.7 1.5 6.9 1.5 11.85 1.5 17.7 6.3 22.5 12.15 22.5c4.95 0 9-3.3 10.35-7.8-7.95 1.8-15.45-5.85-13.2-13.2Z"
						></path>
						<path
						  class="fill-slate-500"
						  d="M18.75 7.5a.938.938 0 0 1-.938-.938 1.878 1.878 0 0 0-1.875-1.875.938.938 0 1 1 0-1.875 1.878 1.878 0 0 0 1.875-1.875.938.938 0 1 1 1.875 0c.002 1.035.84 1.873 1.875 1.875a.938.938 0 1 1 0 1.875c-1.035.002-1.873.84-1.875 1.875a.938.938 0 0 1-.938.938Z"
						></path>
					  </svg>
					  <span class="sr-only">Switch to light / dark version</span>
					</label>
				  </div>
			</div>
		</div>
	</div>
</Section>>

<script>
	const lightSwitches = document.querySelectorAll('.light-switch');
	if (lightSwitches.length > 0) {
		lightSwitches.forEach((lightSwitch: any, i) => {
			if (localStorage.getItem('dark-mode') === 'true') {
				lightSwitch.checked = true;
			}
			lightSwitch.addEventListener('click', () => {
				const { checked } = lightSwitch;
				lightSwitches.forEach((el: any, n) => {
					if (n !== i) {
						el.checked = checked;
					}
				});
				if (lightSwitch.checked) {
					document.documentElement.classList.add('dark');
					localStorage.setItem('dark-mode', 'true');
				} else {
					document.documentElement.classList.remove('dark');
					localStorage.setItem('dark-mode', 'false');
				}
			});
		});
	}
</script>
