---
interface Props {
	tags: string[];
	withHref?: boolean;
}

const { tags, withHref } = Astro.props;
---

<div class="flex flex-wrap gap-2">
	{
		tags.map((tag: string) => {
			const element = (
				<span class="px-2 py-1 text-sm font-medium bg-stone-200 text-stone-800 rounded hover:bg-stone-300 transition-colors duration-200 cursor-pointer project-tag">
					#{tag}
				</span>
			);
			return withHref ? <a href={`/tags/${tag}`}>{element}</a> : element;
		})
	}
</div>